[submodule "Engine/Dependencies/ENTT"]
	path = Engine/Dependencies/ENTT
	url = https://github.com/skypjack/entt
[submodule "Engine/Dependencies/GLM"]
	path = Engine/Dependencies/GLM
	url = https://github.com/g-truc/glm
