.vs/
.vscode/
.code/
.idea/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.csproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

[Bb]in/
[Bb]in-int/
[Bb]uild/
[Ii]ntermediate/

__pycache__/

Editor/Editor.exe
Editor/Editor.pdb
Editor/Resources/Cobalt-ScriptCore.dll
Editor/Resources/Cobalt-ScriptCore.pdb